language: dart

dart: stable

os: linux

install:
- cd ~
- git clone https://github.com/flutter/flutter.git -b stable --depth 1
- export PATH="$PATH:$(pwd)/flutter/bin/cache/dart-sdk/bin"
- export PATH="$PATH:$(pwd)/flutter/bin"
- flutter doctor
- mkdir -p  ~/.config/dart
- |
  cat <<EOF > ~/.config/dart/pub-credentials.json
    {
      "accessToken":"$PUB_ACCESS_TOKEN",
      "refreshToken":"$PUB_REFRESH_TOKEN",
      "tokenEndpoint":"$PUB_TOKEN_EDNPOINT",
      "scopes":["https://www.googleapis.com/auth/plus.me","https://www.googleapis.com/auth/userinfo.email"],
      "expiration":$PUB_EXPIRATION
    }

deploy:
  provider: script
  skip_cleanup: true
  script: cd $TRAVIS_BUILD_DIR && dart format ./lib/ && flutter pub publish -f
  on:
    tags: true
